:root {
  --primary-color: rgb(18, 18, 19);
  --secondary-color: rgb(58, 58, 60);
  --light-color: rgb(129, 131, 132);
  --white-color: rgb(255, 255, 255);
  --green-color: rgb(83, 141, 78);
  --yellow-color: rgb(181, 159, 59);
}

body {
  background-color: var(--primary-color);
  margin: 0;
  font-family: 'Bevan', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  cursor:pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--secondary-color);
  margin: 0px auto;
  height: 75px;
  width: 100%;
}

header h1 {
  flex-grow: 2;
  text-align: center;
}

header button {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-style: none;
}

header .button-box {
  padding: 0 16px;
  width: 120px;
}

header .button-box-right {
  display: flex;
  justify-content: flex-end;
}

header .button-box * {
  padding: 0 5px;
}

/* Class Styling */
.feedback-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 75%;
  z-index: 2;
}

.feedback-modal-content {
  background-color: var(--white-color);
  color: black;
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 4px;
}

.feedback-modal-content p {
  margin: 0;
}

.game-end-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30%;
  z-index: 2;
}

.game-end-modal-content {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.gameover-button {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 4px;
  border: 2px solid var(--secondary-color);
  box-shadow: none;
  font: inherit;
  padding: 10px;
}

.gameover-button:hover {
  background-color: var(--secondary-color);
}

/* Game Board Classes */
.game-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gameboard-container {
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex: 1 1 auto;
}

.gameboard {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 350px;
  height: 420px;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;  
}

.tile {
  border: 2px solid var(--secondary-color);
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
}

.tile.yellow {
  border: 2px solid var(--yellow-color);
  background-color: var(--yellow-color);
}

.tile.green {
  border: 2px solid var(--green-color);
  background-color: var(--green-color);
}

.tile.grey {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
}

/* Keyboard Classes */
.keyboard-container {
  flex: 0 1 200px;
  margin: 0 8px;
}

.keyboard-row {
  margin: 0 auto 8px;
  display: flex;
  justify-content: center;
}

.keyboard-tile {
  background-color: var(--light-color);
  height: 58px;
  width: 43px;
  margin: 0 6px 0 0;
  border-radius: 4px;
  border-style: none;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: var(--white-color);
  text-transform: uppercase;
}

.keyboard-tile:last-of-type {
  margin: 0;
}

.keyboard-tile-wide {
  flex: 1.5;
  font-size: 12px;
}